.iconsCrud:hover {
    cursor: pointer;
}

#save:hover {
    color: rgb(125, 177, 211);
}

#update:hover {
    color: rgb(130, 170, 135);
}

#delete:hover, #cancel:hover {
    color: rgb(216, 116, 116);
}

tr.hidde {
    display: none;
}

.btnIcon {
    display: inline;
    border: none !important;
    margin-right: 10px;
    margin-left: 10px;
    background-color: white;
}

.newUserCol {
    text-align: left;
    margin-bottom: 20px;
}

.container {
    margin-top: 50px;
}

