/*Previus information main table users*/

.title-info-users {
    color: black;
    font-size: 16px;
    text-decoration: underline;
    padding-top: 10px;
}
.help-info-users {
    padding-top: 10px;
    padding-bottom: 10px;
}
.help-info-users span{
    color: black;
    font-size: 13px;
}
.help-info-users #error {
    padding-right: 10px;
}

/***************************************/

/*Search users - main table*/
#btn-contador-oculto {
    display: none;
    border: 1px solid rgb(251, 125, 125);
    color: white;
    background-color: rgb(175, 49, 49);
}
#btn-exportar-oculto {
    position: absolute;
    top: 44px;
    left: 170px;
    display: none;
    border: 1px solid rgb(0, 11, 170);
    color: white;
    background-color: rgb(62, 68, 150);
}
#span-contador-oculto {
    color: rgb(110, 110, 110);
    padding: 5px;
    font-size: 13px;
}
.container-contador-checks {
    padding-top: 10px;
    padding-bottom: 20px;
}
.col-contador-title {
    padding-top: 50px;
    text-align: left;
}
.col-contador-action {
    position: relative;
    padding-top: 44px;
}
.col-contador-action button {
    font-size: 13px !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    padding-left: 7px !important;
    padding-right: 7px !important;
}
.col-search-users {
    position: relative;
    padding-top: 5px;
}
.input-search-users {
    font-size: 16px !important;
    background-color: transparent !important;
    border-radius: 0px !important;
    border: none !important;
    border-bottom: 1px solid rgb(167, 167, 167) !important;
    padding: 0px !important;
    padding-left: 4px !important;
}
.input-search-users::placeholder {
    color: rgb(107, 107, 107) !important;
    padding: 0px !important;
}
.col-search-users  #lupa {
    position: absolute;
    right: 25px;
	top: 16%;
}

/**************************************/

/*Main table no editable*/

/***********************/


.container-panel {
    min-height: 100vh;
}

.header-row {
    background-color: rgb(32, 30, 30);
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

/*Menú*/
.menu-col {
    color: white;
    background-color: rgb(78, 73, 73);
    padding: 0px !important;
    min-height: 91.1vh; /*Como hacer que se adapte a alto completo sin necesidad de esta propiedad de css*/
}
.global-btn, .especific-btn {
    width: 100%;
    height: 100%;
    border-bottom: 2px solid rgb(59, 56, 56);
    border-right: 2px solid rgb(59, 56, 56);
    border-top: 2px solid rgb(107, 107, 107);
    border-left: 2px solid rgb(107, 107, 107);
    color: rgb(219, 213, 213);
}
.add-especific-btn {
    width: 100%;
    height: 100%;
    padding-top:10px;
    padding-bottom:10px;
    border-bottom: 2px solid rgb(134, 134, 134);
    border-right: 2px solid rgb(134, 134, 134);
    border-top: 2px solid rgb(173, 169, 147);
    border-left: 2px solid rgb(173, 169, 147);
    background-color: rgb(218, 218, 218);
    color: black;
}
.global-btn {
    padding-top:15px;
    padding-bottom:15px;
    background-color: rgb(78, 73, 73);
    font-weight: bold;
    color: rgb(192, 187, 187);
}
.global-btn:hover{
    background-color: rgb(43, 40, 40);
    color: rgb(189, 154, 0);
}
.especific-btn {
    padding-top:10px;
    padding-bottom:10px;
    background-color: rgb(99, 93, 93);
    color: rgb(219, 213, 213);
}
.especific-btn:hover {
    background-color: rgb(65, 59, 59);
    color: rgb(187, 182, 156);
}
.add-especific-btn:hover {
    background-color: rgb(136, 133, 109);
}
/*******/

/*Administration panel*/
.administration-row {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 40px !important;
    padding-right: 40px !important;
    min-height: 91.1vh;
    background-image: url("../public/images/red.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.containerMT {
    background-color: rgba(255, 255, 255, 0.733);
    padding-bottom: 35px;
    padding-top: 35px;
    padding-left: 20px;
    padding-right: 20px;
}
.form-mainTable {
    background-color: rgba(255, 255, 255, 0.603);
}
#ejemplo-titulo {
    width: 30%;
    padding: 20px;
}

/***Formulario registro usuarios validacion***/

tr.hidde {
    display: none;
}
.newUserCol {
    text-align: left;
    margin-bottom: 20px;
}
.container {
    margin-top: 50px;
}

/*Add-form*/
#add-form {
    background-color: rgba(255, 255, 255, 0.733); /*rgba(209, 209, 209, 0.239)*/
    padding: 20px;
}
.info-contacto {
    padding-bottom: 25px;
}
.info-interna {
    padding-bottom: 35px;
}
.title-interna, .title-contacto {
    padding-bottom: 10px;
}
.container-items, .container-items-input {
    padding-bottom: 8px;
}
.container-items-input {
    position: relative;
}
.container-items-input  #error {
    position: absolute;
    right: 25px;
	top: 16%;
}
.invalid_input {
    border: 2px solid red !important;
}
.show_error {
    padding-top: 3px;
    padding-left: 3px;
    display: block;
    color: red;
    font-size: 11px;
}
.hidde_error {
    display: none;
}
.invalid-select {
    border: 2px solid red;
    border-radius: 5px;
}
.invalid-select > .css-1s2u09g-control {
    border: none !important;
}
/**/


/*Icons - MainTable and SecundaryTable*/
.icon-button, .icon-button-sort {
    display: inline;
    border: none !important;
    margin-right: 5px;
    margin-left: 5px;
    background-color: rgba(255, 255, 255, 0);
}
.icon-button-sort:hover > #arrowDown {
    color: red;
}
#save:hover {
    color: rgb(125, 177, 211);
}
#update:hover {
    color: rgb(130, 170, 135);
}
#delete:hover, #cancel:hover {
    color: rgb(216, 116, 116);
}


/*Secundary table*/
.col_apartamento{
    width: 20%;
}
.col_ciudad {
    width: 20%;
}
.col_provincia {
    width: 13%;
}
.col_cp {
    width: 8%;
}
.col_telefono {
    width: 9%;
}
.secundaryTable {
    width: 90%;
    margin-top: 20px;
    margin-bottom: 25px;
}
.row-editable-secundaryTable,  .row-editable-mainTable, .row-editable-passwordForm {
    background-color: rgba(228, 244, 255, 0.63);
}
.row-editable-secundaryTable th {
    background-color: rgba(224, 224, 224, 0.219) !important;
}
.div-editable-secundaryTable, .div-read-secundaryTable { 
    display: flex;
    justify-content: center;
}
.div-editable-passwordForm {
    text-align: center;
}
.div-editable-passwordForm .container-update-password{
    display: inline;
}
.col-update-label-password {
    text-align: right;
    padding-top: 17px;
}
.col-update-input-password {
    padding-top: 10px;
}
.row-repeat-password {
    padding-bottom: 20px;
}
.row-read-secundaryTable {
    display: none;
}
.save-cancel-button {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 232, 207);
}
.row-read-secundaryTable {
    box-shadow: 0 0 4px rgb(231, 227, 205) !important;
}


/*Main table*/
.col_nombre {
    width: 25%;
}
.col_registro, .col_rol, .col_estado {
    width: 9%;
}
.col_contraseña {
    width: 17%;
}
.col_email {
    width: 20%;
}
.col_acciones {
    text-align: center;
    padding-left: 0px !important;
}
.input-read-password {
    border: none !important;
    background-color: transparent !important;
}
.input-read-password:focus {
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
}
.mainTable {
    width: 100%;
    border: 1px solid rgb(214, 214, 214);
}
.mainTable tr {
    border: 1px solid rgb(214, 214, 214);
}
.mainTable td,  .mainTable th {
    border: 1px solid rgb(214, 214, 214); 
    padding-left: 10px;
    padding-right: 10px;
}
.mainTable td {
    padding-top: 7px;
    padding-bottom: 7px;
}
.mainTable th {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(177, 176, 176, 0.226);
}

#td-check-editable {
    border-bottom: 1px solid rgba(228, 244, 255, 0.63) !important;
}

#btn-up, #btn-down {
    border: 1px solid rgba(134, 134, 134, 0.164);
}
#btn-up {
    position: relative;
    height: 13px;
    top: -13px;
    left: 5px;
}
#btn-down {
    position: relative;
    height: 13px;
    top: 1px;
    left: -9px;
}
#sortdown {
    position: absolute;
    cursor: pointer;
    left: 1px;
    top: -6px;
    height: 13px;
    width: 10px;
}
#sortup {
    position: absolute;
    cursor: pointer;
    left: 1px;
    top: 3px;
    height: 13px;
    width: 10px;
}

.row-search {
    padding-top: 50px;
    padding-bottom: 30px;
}
#busqueda-avanzada-cont{
    visibility: hidden;
}